matplotlib
GDAL              # " https://download.lfd.uci.edu/pythonlibs/archived/GDAL-3.4.3-cp311-cp311-win_amd64.whl " use this link to install it in case some error occurs, suitable for Python 3.11
numpy
